*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(250, 183, 183);

}
main{
    
    margin-top: 25rem;
    display: flex;
    justify-content:center ;
    align-items: center;   
}
div{
    padding: 1.5rem 3rem;
    /* border:0.5px 0px 1 solid black; */
    border-radius: 2rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap:3rem;
   font-size:1rem;
   background-color: white;
   /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50); */
   box-shadow:0px 7px 20px rgba(0,0,0,0.50) ;
    >a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:rgb(53, 36, 4);
        text-decoration-line: none;
        cursor: pointer;
    }
}
a:hover{
      color: rgb(211, 19, 19);
}